<!-- Filter bar for filtering pothole hits -->
<!-- Presently has no affect on cases KEY 03/2020 -->
<script>
    let filterChanged = (evt) => {
        console.log(`Filter ${evt.target.value}`);
    }


</script>
<div class="dropdown dtp_filter">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter Pothole Hits by Age
    </a>

    <!--**************************************
    The filter bar relies on a value for 'ctxroot' to be injected into the context. See the appropriate router for example
    -->
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" onchange="filterChanged">
        <a class="dropdown-item" href="<%- ctxroot %>">All Active Hits</a>
        <a class="dropdown-item" href="<%- ctxroot %>/1">Today</a>
        <a class="dropdown-item" href="<%- ctxroot %>/7">1 week</a>
        <a class="dropdown-item" href="<%- ctxroot %>/14">2 weeks</a>
        <a class="dropdown-item" href="<%- ctxroot %>/30">1 Month</a>
        <a class="dropdown-item" href="<%- ctxroot %>/90">3 Months</a>
        <a class="dropdown-item" href="<%- ctxroot %>/180">6 Months</a>
        <a class="dropdown-item" href="<%- ctxroot %>/270">9 Months</a>
        <a class="dropdown-item" href="<%- ctxroot %>/365">1 Year</a>
    </div>
    <!-- FIXME: Display the current active filter. Isn't trival since these link to a different page and needs to pass in -->
    <!--    <span id="current-filter-text">All Active Hits</span>-->
</div>

